{% extends 'base.html' %}
{% load static %}


{%  block title %} Cargo {% endblock title %}

{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">

        <h1>Adicionar Cargo</h1><br>

        <form id="cargo_form" method="post" action="/kilua/controle/add_cargo/"> {% csrf_token %}



            {% for field in form.visible_fields %}

                <br>
                {{ field.help_text }}
                <br>
                {{ field }}


            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary" name="submit" value="Criar Cargo" />
        </form>

        <button class="btn btn-primary" type="submit"> <a href="/kilua/controle" class="voltar-white"> Voltar </a> </button>

    </div>
{% endblock body_block%}
{%  endif %}
