{% extends 'base.html' %}
{% load static %}

{%  block title %} Controle {% endblock title %}

{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">
        <h1>Adicionar Setor</h1><br>

        <form id="setor_form" method="post" action="/kilua/controle/add_setor/"> {% csrf_token %}

                {% for field in form.visible_fields %}
                    <br>
                    {{ field.help_text }}
                    <br>
                    {{ field }}

                {% endfor %}
                <br>



            <button class="btn btn-primary" type="submit">Criar Setor</button>
        </form>

        <button class="btn btn-primary" type="submit"> <a href="/kilua/controle" class="voltar-white"> Voltar </a> </button>

    </div>
{% endblock body_block %}
{% endif %}


