<!DOCTYPE html>
<html>
    <head>
        <title>Kilua</title>
    </head>

    <body>
        <h1>Adicionar Usuario</h1>

        <form id="user_form" method="post" action="/kilua/controle_admin/add_usuario/">{% csrf_token %}


            {% for field in form.visible_fields %}

                {{ field.help_text }}
                {{ field }}
                <br>
            {% endfor %}

            <input type="submit" name="submit" value="Criar Usuario" />
        </form>

        <a href="/kilua/controle_admin"> Voltar </a>

    </body>

</html>