{% extends 'base.html' %}
{% load static %}


{%  block title %} Usuario {% endblock title %}

{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">
        <h1>Registrar Usuario</h1><br>

        {% if registered %}
            <strong>Usuario registrado com sucesso!</strong> <br>
            <button class="btn btn-primary" type="submit"> <a href="/kilua/controle" class="voltar-white"> Home </a> </button><br/>

        {% else %}
             <form id="user_form" method="post" action="/kilua/controle/add_usuario/" enctype="multipart/form-data">{% csrf_token %}


            {{ user_form.as_p }}
            {{ profile_form.as_p }}


            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>


        <button class="btn btn-primary" type="submit"> <a href="/kilua/controle" class="voltar-white"> Voltar </a> </button>


        {% endif %}



    </div>
{% endblock body_block %}
{% endif %}






