<!DOCTYPE html>
<html>
    <head>
        <title>Kilua</title>
    </head>

    <body>
        <h1>Registrar Usuario</h1>

        {% if registered %}
        Kilua: <strong>Usuario registrado com sucesso!</strong>
            <a href="/kilua/controle"> Home </a><br />
        {% endif %}


        <form id="user_form" method="post" action="/kilua/controle/add_usuario/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}


            <input type="submit" name="submit" value="Register" />
        </form>


        <a href="/kilua/controle"> Voltar </a>
    </body>
</html>




