<!DOCTYPE html>
<html>
{% if user.is_authenticated %}
<head lang="en">

    <meta charset="UTF-8">
    <title>Admin_control</title>

</head>
<body>
    <h1> Admin Controle </h1>
    <h2> Cadastro       </h2>
    <ul>
        <li> <a href="add_setor">  Setor </a> </li>
        <li> <a href="add_usuario"> Usuarios </a> </li>
        <li> <a href="add_cargo"> Cargo </a> </li>

    </ul>

    <a href="/kilua/logout/">Logout</a><br />
</body>

{% else %}

    <a> Você não está logado no sistema para visualizar essa página, por favor, logue-se.</a> <br>
    <a href="/kilua/login/">Login</a><br />

{% endif %}
</html>