{% extends 'base.html' %}
{% load static %}

{%  block title %} Histórico {% endblock title %}



{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">
        <h2> Fila de Chamados </h2>
        <tbody>
            <table class="table ">
                {% if user.username in usuarios %}
                    <thead>
                        <tr>
                            <th>ID Chamado</th>
                            <th>ID Setor</th>
                            <th>ID Tipo Problema</th>
                            <th>Comentrário</th>
                            <th>Descrição Problema</th>
                        </tr>
                    </thead>
                    {% for chamado in chamados %}
                        <tr>
                        {% if user.username == chamado.id_user.username %}
                            <td><a href="/kilua/controle/chamado/{{ chamado.id }}">{{ chamado.id_user }}</a></td>
                            <td>({{ chamado.id_setor }})</td>
                            <td>({{chamado.id_tpproblema}})</td>
                            <td>({{chamado.comentario}})</td>
                            <td>({{chamado.desc_problema}})</td>
                        {% endif %}
                        </tr>
                    {% endfor %}

                {% else %}
                    <thead>
                        <tr>
                            <th>ID Chamado</th>
                            <th>ID Setor</th>
                            <th>ID Tipo Problema</th>
                            <th>Nível</th>
                            <th>Comentrário</th>
                            <th>Descrição Problema</th>
                        </tr>
                    </thead>
                    {% for chamado in chamados %}
                         <tr>
                            <td><a href="/kilua/controle/chamado/{{ chamado.id }}">{{ chamado.id_user }}</a></td>
                            <td>({{chamado.id_setor }})</td>
                            <td>({{chamado.id_tpproblema}})</td>
                            <td>({{chamado.nivel}})</td>
                            <td>({{chamado.comentario}})</td>
                            <td>({{chamado.desc_problema}})</td>
                         </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </tbody>

        </div>
    {% endblock body_block %}
{% else %}
    <a> Você não está logado no sistema para visualizar essa página, por favor, logue-se.</a> <br>
    <a href="/kilua/login/">Login</a><br/>
{% endif %}
