{% extends 'base.html' %}
{% load static %}

{%  block title %} Histórico {% endblock title %}



{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">
        <h2> Histórico </h2>
        <ol>
        {% if user.username in usuarios %}

            {% for chamado in chamados %}
                {% if user.username == chamado.id_user.username %}
                    <li> <a href="/kilua/controle/historico/{{ chamado.id }}" > {{ chamado.id_user }} ({{ chamado.id_setor }}) ({{chamado.id_tpproblema}}) ({{chamado.nivel}}) ({{chamado.comentario}}) ({{chamado.desc_problema}}) </a> </li>
                {% endif %}
            {% endfor %}

        {% else %}

            {% for chamado in chamados %}
                 <li> <a href="/kilua/controle/historico/{{ chamado.id }}" > {{ chamado.id_user }} ({{ chamado.id_setor }}) ({{chamado.id_tpproblema}}) ({{chamado.nivel}}) ({{chamado.comentario}}) ({{chamado.desc_problema}}) </a> </li>
            {% endfor %}
        {% endif %}

        </ol>
    </div>
{% endblock body_block %}

{% else %}

    <a> Você não está logado no sistema para visualizar essa página, por favor, logue-se.</a> <br>
    <a href="/kilua/login/">Login</a><br/>

{% endif %}
