{% extends 'base.html' %}
{% load static %}

{%  block title %} Chamado {{ chamados.id }} {% endblock title %}

{% if user.is_authenticated %}

{% block body_block %}
    <div class="hero-unit">
       <h2> Informações do Chamado {{ chamados.id }}</h2>
       Usuário que requisitou:  {{ user.username }} <br>
       Setor:                   {{ chamados.id_setor }} <br>
       Problema:                {{ chamados.id_tpproblema }} <br>
       Comentário:              {{ chamados.comentario }} <br>
       Descrição do Problema:   {{ chamados.desc_problema }} <br>
       Data do inicio:   {{ chamad.data_inicio }} <br>
       Data Término: {{chamad.data_termino}} <br>
       Solução encontrada: {{ chamad.desc_solucao}}
    </div>
{% endblock body_block %}

{% else %}

    <a> Você não está logado no sistema para visualizar essa página, por favor, logue-se.</a> <br>
    <a href="/kilua/login/">Login</a><br/>

{% endif %}
